<div class="mdc-layout-grid without-padding">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-12">
      <h1 class="mat-headline history-header">
        {{title}}
        <button mat-raised-button class="consultations-button" (click)="getConsultation()">
          <div class="consultations-button-order">
            <mat-icon >videocam</mat-icon>
            OBTENER CONSULTA
          </div>
        </button>
      </h1>
      <h3 class="mat-h3" style="margin-bottom: 0px;">{{doctor}} - {{licence}}</h3>
    </div>
    <div class="mdc-layout-grid__cell--span-12">
      <generic-form
        #createForm;
        [fields]="filtersData"
        [withoutPadding]="true"
        (onSubmit)="search($event)"
      ></generic-form>
    </div>
    <div class="mdc-layout-grid__cell--span-12 without-padding">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
        <!-- Position Column -->
        <ng-container *ngFor="let item of displayedColumns">
          <!--
            Render column data
          -->
          <ng-container *ngIf="!item.isAction" matColumnDef="{{item.key}}">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{item.name}} </th>
            <td mat-cell *matCellDef="let element"> {{lodash.get(element,item.key)}} </td>
          </ng-container>
          <!--
            Render column action
          -->
          <ng-container *ngIf="item.isAction" matColumnDef="{{item.key}}">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element" class="action-link">
              <ng-container *ngFor="let action of item.actions">
                <a [id]="action.id" *ngIf="!action.notShow || !action.notShow(element)" style="cursor: pointer;" [title]="action.name" (click)="onClickAction($event,action,element)">
                  <mat-icon aria-hidden="false" aria-label="icon">{{action.icon}}</mat-icon>
                </a>
              </ng-container>
            </td>
          </ng-container>
        </ng-container>
        <!-- Row -->
        <tr mat-header-row *matHeaderRowDef="columnsList"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsList;" class="example-element-row"></tr>
      </table>
      <div *ngIf="!dataSource || !dataSource.filteredData.length" class="no-records">
        No se encontraron registros
      </div>
    </div>
  </div>
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-12">
      <mat-paginator [length]="configPagination?.totalRecords"
                     [pageIndex]="configPagination?.page"
                     [pageSize]="configPagination?.size"
                     [pageSizeOptions]="[]"
                     (page)="changePage($event)"
                     style="margin-top: 20px;">
      </mat-paginator>
    </div>
  </div>
</div>
