<form [formGroup]="dynamicForm">
  <mat-label>{{title}}</mat-label>
  <div [formArrayName]="id">
    <div
      *ngFor="let filter of rangesFormArray.controls; let i = index;">

      <div
        [formGroupName]="i"
        class="container">

        <mat-form-field>
          <mat-select
            (selectionChange)="selected()"
            placeholder="Seleccionar dia"
            formControlName="day">
            <mat-option
              *ngFor="let day of days"
              [value]="day">
              {{ day }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select
            (selectionChange)="selected()"
            placeholder="Desde"
            #apiField
            formControlName="from_time">
            <mat-option
              *ngFor="let from_time of times"
              [value]="from_time">
              {{ from_time }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select
            (selectionChange)="selected()"
            placeholder="Hasta"
            formControlName="to_time">
            <mat-option
              *ngFor="let to_time of times"
              [value]="to_time">
              {{ to_time }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-icon
          (click)="removeFilterFromRangesFormArray(i)"
          style="cursor: pointer;">
          delete
        </mat-icon>

      </div>
    </div>

    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="addFilterToRangesFormArray()">
      Agregar rango
    </button>

  </div>
</form>
